.container_menu {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    gap: 87px;
    .wrapper_menu_title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      .wrapper_heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heading_menu {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 30px;
          .title_menu {
            h3 {
              font-size: 52px;
              font-weight: 600;
              color: $green;
            }
          }
          .text_menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .text_menu1 {
              p{
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                color: $grey;
              }
            }
            .text_menu2{
              p{
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                color: $grey;
              }
            }
          }
        }
      }
    }
  
    .wrapper_food_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 63px;
      flex-wrap: wrap;
      .wrapper_card_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        .card_menu {
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 502px;
          .card_menu_title {
            display: flex;
            justify-content: space-between;
            p {
              font-size: 24px;
              color: $green;
              font-weight: 500;
            }
          }
          .card_menu_ingredient {
            p {
              font-size: 18px;
              font-weight: 400;
              color: $grey;
            }
          }
        }
      }
      .wrapper_menu_aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 95px;
        .title_menu_aside {
          font-size: 64px;
          font-style: italic;
          transform: rotate(-9deg);
          p:nth-child(1) {
            color: $green;
          }
          p:nth-child(2) {
            color: $blue
          }
        }
        .text_menu_aside {
          p {
            font-size: 18px;
            font-weight: 400;
            color: $grey;
          }
        }
      }
    }
  }