* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  padding: 0 43px;
  margin-top: 25px;
  align-items: center;
  justify-content: space-between;
}
nav .wrapper_logo {
  width: 200px;
}
nav .wrapper_logo a img {
  width: 100%;
}
nav .wrapper_navlink {
  display: flex;
  justify-content: center;
}
nav .wrapper_navlink a {
  margin: 0 50px;
}
nav .wrapper_navlink button {
  margin: 0 50px;
  font-size: 15px;
}

.hamburger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 42px;
  right: 30px;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  transition: 0.4s;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines.open .line1 {
  transform: translateY(0) rotate(45deg);
}

.hamburger-lines.open .line2 {
  opacity: 0;
}

.hamburger-lines.open .line3 {
  transform: translateY(0) rotate(-45deg);
}

@media screen and (max-width: 1200px) {
  nav .wrapper_navlink a {
    margin: 0 25px;
  }
  nav .wrapper_navlink button {
    margin: 0 25px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    padding: 0 25px;
  }
  nav .wrapper_logo {
    width: 150px;
  }
  nav .wrapper_logo a img {
    width: 100%;
  }
  nav .wrapper_navlink a {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  nav .wrapper_logo {
    width: 200px;
  }
  nav .wrapper_logo a img {
    width: 100%;
  }
  nav .hamburger-lines {
    display: flex;
  }
  nav .wrapper_navlink {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
  }
  nav .wrapper_navlink a {
    font-size: 24px;
  }
  nav .wrapper_navlink .button_order {
    font-size: 24px;
  }
}
.container_hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(96, 160, 216, 0.65), rgba(178, 210, 52, 0.65)), url("../Assets/luisa-brimble-2RrBE90w0T8-unsplash.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.container_hero .wrapper_brand {
  margin: auto;
}
.container_hero .wrapper_brand .brand {
  display: flex;
  flex-direction: column;
}
.container_hero .wrapper_brand .brand h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 126px;
  color: #FFFFFF;
  font-weight: 500;
}
.container_hero .wrapper_brand .brand h2 {
  display: flex;
  justify-content: flex-end;
  font-size: 54px;
  font-style: italic;
  font-weight: 400;
  color: #FFFFFF;
  transform: rotate(-9deg);
}
.container_hero .wrapper_social {
  align-self: flex-end;
  padding-bottom: 46px;
  padding-right: 47px;
}
.container_hero .wrapper_social i {
  color: #FFFFFF;
  margin: 0 20px;
  cursor: pointer;
}

.container_welcome {
  position: relative;
  background: url("../Assets/61842.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_welcome .wrapper_welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 150px 0;
}
.container_welcome .wrapper_welcome .content_welcome {
  display: flex;
  flex-direction: column;
  width: 627px;
  gap: 40px;
  margin-left: 150px;
}
.container_welcome .wrapper_welcome .content_welcome h3 {
  font-size: 52px;
  font-weight: 600;
  color: rgb(178, 210, 52);
}
.container_welcome .wrapper_welcome .content_welcome .text_welcome {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container_welcome .wrapper_welcome .content_welcome .text_welcome p {
  font-size: 18px;
  color: #606060;
}
.container_welcome .wrapper_welcome .img_welcome {
  width: 883px;
}
.container_welcome .wrapper_welcome .img_welcome img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container_welcome .wrapper_welcome {
    flex-direction: column;
  }
  .container_welcome .wrapper_welcome .content_welcome {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .container_welcome .wrapper_welcome .content_welcome h3 {
    text-align: center;
  }
  .container_welcome .wrapper_welcome .img_welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 883px;
  }
  .container_welcome .wrapper_welcome .img_welcome img {
    width: 75%;
  }
}
.container_accroche {
  height: 100vh;
  background: url("../Assets/ismael-trevino-NDyuR4Huig8-unsplash.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container_accroche .wrapper_accroche {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 11%;
  background: rgba(178, 210, 52, 0.85);
  padding: 48px 68px;
}
.container_accroche .wrapper_accroche .card_accroche {
  height: 557px;
  width: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.container_accroche .wrapper_accroche .card_accroche .text_accroche {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container_accroche .wrapper_accroche .card_accroche h4 {
  color: #FFFFFF;
  font-size: 52px;
  font-weight: 600;
  text-align: center;
}
.container_accroche .wrapper_accroche .card_accroche p {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}
.container_accroche .wrapper_accroche .card_accroche p .underline {
  text-decoration: underline;
  color: #FFFFFF;
  font-weight: 400;
}
.container_accroche .wrapper_accroche .card_accroche p .semibold {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .container_accroche {
    justify-content: center;
  }
  .container_accroche .wrapper_accroche {
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.container_menu {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  gap: 87px;
}
.container_menu .wrapper_menu_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container_menu .wrapper_menu_title .wrapper_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_menu .wrapper_menu_title .wrapper_heading .heading_menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.container_menu .wrapper_menu_title .wrapper_heading .heading_menu .title_menu h3 {
  font-size: 52px;
  font-weight: 600;
  color: rgb(178, 210, 52);
}
.container_menu .wrapper_menu_title .wrapper_heading .heading_menu .text_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container_menu .wrapper_menu_title .wrapper_heading .heading_menu .text_menu .text_menu1 p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}
.container_menu .wrapper_menu_title .wrapper_heading .heading_menu .text_menu .text_menu2 p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}
.container_menu .wrapper_food_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
  flex-wrap: wrap;
}
.container_menu .wrapper_food_menu .wrapper_card_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.container_menu .wrapper_food_menu .wrapper_card_menu .card_menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 502px;
}
.container_menu .wrapper_food_menu .wrapper_card_menu .card_menu .card_menu_title {
  display: flex;
  justify-content: space-between;
}
.container_menu .wrapper_food_menu .wrapper_card_menu .card_menu .card_menu_title p {
  font-size: 24px;
  color: rgb(178, 210, 52);
  font-weight: 500;
}
.container_menu .wrapper_food_menu .wrapper_card_menu .card_menu .card_menu_ingredient p {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}
.container_menu .wrapper_food_menu .wrapper_menu_aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 95px;
}
.container_menu .wrapper_food_menu .wrapper_menu_aside .title_menu_aside {
  font-size: 64px;
  font-style: italic;
  transform: rotate(-9deg);
}
.container_menu .wrapper_food_menu .wrapper_menu_aside .title_menu_aside p:nth-child(1) {
  color: rgb(178, 210, 52);
}
.container_menu .wrapper_food_menu .wrapper_menu_aside .title_menu_aside p:nth-child(2) {
  color: #60A0D8;
}
.container_menu .wrapper_food_menu .wrapper_menu_aside .text_menu_aside p {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
}

.container_preparation {
  padding: 144px 0;
  background: url("../Assets/louis-hansel-MlPD-AzZYMg-unsplash.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_preparation .wrapper_preparation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 40px;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_green {
  background: rgba(178, 210, 52, 0.85);
  padding: 32px 100px;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_green h3 {
  font-size: 52px;
  font-weight: 600;
  color: #FFFFFF;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_green .card_preparation_food {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_green .card_preparation_food ul {
  margin-top: 40px;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_green .card_preparation_food ul li {
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_blue {
  background: rgba(96, 160, 216, 0.85);
  padding: 32px 100px;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_blue h3 {
  font-size: 52px;
  font-weight: 600;
  color: #FFFFFF;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_blue .card_preparation_food {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_blue .card_preparation_food ul {
  margin-top: 40px;
}
.container_preparation .wrapper_preparation .wrapper_card_preparation_blue .card_preparation_food ul li {
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .container_preparation .wrapper_preparation {
    margin: 0;
  }
  .container_preparation .wrapper_preparation .wrapper_card_preparation_green {
    width: 100%;
  }
  .container_preparation .wrapper_preparation .wrapper_card_preparation_green h3 {
    text-align: center;
  }
  .container_preparation .wrapper_preparation .wrapper_card_preparation_green .card_preparation_food {
    flex-direction: column;
  }
  .container_preparation .wrapper_preparation .wrapper_card_preparation_blue {
    width: 100%;
  }
  .container_preparation .wrapper_preparation .wrapper_card_preparation_blue h3 {
    text-align: center;
  }
  .container_preparation .wrapper_preparation .wrapper_card_preparation_blue .card_preparation_food {
    flex-direction: column;
  }
}
.container_form {
  background-size: cover;
  background: url("../Assets/61842.jpg") center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_form .wrapper_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin: 150px 0;
  flex-wrap: wrap;
}
.container_form .wrapper_form .wrapper_form_img {
  position: relative;
}
.container_form .wrapper_form .wrapper_form_img img {
  height: 524px;
  width: 524px;
}
.container_form .wrapper_form .wrapper_form_img::before, .container_form .wrapper_form .wrapper_form_img::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 8px;
}
.container_form .wrapper_form .wrapper_form_img::before {
  height: 100%;
  left: 50%;
  top: 0;
}
.container_form .wrapper_form .wrapper_form_img::after {
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
}
.container_form .wrapper_form .wrapper_form_aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.container_form .wrapper_form .wrapper_form_aside .form_aside_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.container_form .wrapper_form .wrapper_form_aside .form_aside_content h3 {
  font-size: 52px;
  font-weight: 600;
  color: rgb(178, 210, 52);
  text-align: center;
}
.container_form .wrapper_form .wrapper_form_aside .form_aside_content p {
  font-size: 18px;
  font-weight: 400;
  color: #606060;
  text-align: center;
}
.container_form .wrapper_form .wrapper_form_aside form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  width: 100%;
}
.container_form .wrapper_form .wrapper_form_aside form .form_input {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}
.container_form .wrapper_form .wrapper_form_aside form .form_input label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  font-size: 23px;
  font-style: italic;
  font-weight: 500;
  color: rgb(178, 210, 52);
}
.container_form .wrapper_form .wrapper_form_aside form .form_input label input, .container_form .wrapper_form .wrapper_form_aside form .form_input label textarea {
  height: 45px;
  width: 100%;
  border: 1px solid rgba(78, 78, 78, 0.3);
  box-sizing: border-box;
  font-size: 23px;
  padding: 0 8px;
  outline: transparent;
  color: rgba(78, 78, 78, 0.5);
  font-style: italic;
}
.container_form .wrapper_form .wrapper_form_aside form .form_input label textarea {
  height: 135px;
}

@media screen and (max-width: 768px) {
  .container_form .wrapper_form .wrapper_form_aside {
    width: 80%;
    margin: 0 6px;
  }
  .container_form .wrapper_form form .form_input {
    flex-direction: column !important;
  }
}
footer {
  padding: 67px 0;
  background: rgb(178, 210, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .wrapper_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 38px;
  gap: 140px;
}
footer .wrapper_footer img {
  width: 309px;
}
footer .wrapper_footer .wrapper_footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}
footer .wrapper_footer .wrapper_footer_info h3 {
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 27px;
}
footer .wrapper_footer .wrapper_footer_info .footer_text {
  display: flex;
  flex-direction: column;
}
footer .wrapper_footer .wrapper_footer_info .footer_text p {
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.wrapper_navlink a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .wrapper_navlink a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper_navlink a {
    font-size: 14px;
  }
}
.wrapper_navlink .button_order {
  padding: 9px 30px;
  font-size: 15px;
  color: rgb(178, 210, 52);
  font-weight: 600;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0 8px 16px rgba(97, 97, 97, 0.16);
  border-radius: 8px;
  cursor: pointer;
}

.about_button {
  padding: 14px 60px;
  background: rgb(178, 210, 52);
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(97, 97, 97, 0.16);
  text-decoration: none;
}

.accroche_button {
  padding: 14px 60px;
  background: #FFFFFF;
  color: rgb(178, 210, 52);
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(97, 97, 97, 0.16);
  text-decoration: none;
}

.seller {
  border: 1px solid rgb(178, 210, 52);
  padding: 12px;
}

.wrapper_seller .wrapper_seller_text {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.wrapper_seller .wrapper_seller_text p {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  background: rgb(178, 210, 52);
  padding: 3px 12px;
}

#locations-dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  animation-name: slideDown;
}

.wrapper_navlink.active {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  gap: 32px;
  animation: slideDownNav 0.5s forwards;
}

@keyframes slideDownNav {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
